body {
    font-family: 'Merriweather', serif;
    line-height: 1.6;
    background-color: #FBF8EF;
    color: #333;
    margin: 0;
    padding: 20px;
}
    
header, footer, nav {
    background-color: #80CBC4;
    color: #fff;
    padding: 15px;
    text-align: center;
}

h1, h2 {
    color: #FFB433;
}

footer {
    font-size: 0.9em;
}

main {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
}

content {
  flex: 6;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

aside {
  flex: 2;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

article {
    text-align: justify;
}

.main-title, .author {
    text-align: center;
}

.main-title {
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
    color: #FFB433;
}

.author {
    font-size: 14px;
    padding-top: 2px;
    margin-top: 2px;
    margin-bottom: 20px;
}

figure {
    text-align: center;
    font-size: 12px;
}

.illustration-img {
    min-width: 550px;
}

.credit {
    display: flex;
    margin: 0 auto;
    max-width: 400px;
}

.author {
    flex: 1;
}

.article-date {
    flex: 1;
}

.card-container {
  margin-top: -10px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 15px;
  width: 200px;
  justify-content: center;
}

.card-img{
    max-height: 120px;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 12px rgba(0,0,0,0.15);
}

.card img {
  width: 100%;
  display: block;
}

.card h4, p {
    margin: 0 10px 0 10px;
    font-size: 15px;
}

.card-content {
  padding: 15px;
}

.card-content {
  margin-top: 0;
  text-align: center;
}

.active-card {
    border: 2px solid #28a745;
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 128, 0, 0.4);
  }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    color: white;
}

.navbar .logo {
  font-size: 1.2em;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: underline;
  color: #FFB433;

}

.dropdown-content {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 35px;
  background-color: #B4EBE6;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content li {
  padding: 10px;
}

.dropdown-content li a {
  color: #333;
  display: block;
}

.dropdown-content li:hover {
  background-color: #FFB433;
}

.dropdown-content li:hover a {
  color: #fff;
}

/* Untuk dropdown aktif */
.dropdown.open .dropdown-content {
  display: block;
}